.title{
    margin-top: 5rem;
    margin-bottom: 3rem;
    color: rgb(124, 25, 25);
    letter-spacing: 0.3rem;

}
#matchcontent{
    border: 3px solid rgb(255, 255, 255);   
    border-radius: 2rem;
    background-color: rgb(22, 83, 48);
    padding-bottom: 2rem;
}
