#matchcontent{
    border: 3px solid rgb(255, 255, 255);   
    border-radius: 3rem;
    background-color: rgb(22, 83, 48);
    padding-bottom: 2rem;
}
.subtitle{
    color: rgb(192, 238, 219);
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;

}
#contentstats{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: rgb(44, 59, 40);
    border: 4px solid whitesmoke;
    border-radius: 19px;
}
.litletitle{
    font-size: 1.4rem;
    color: rgb(235, 157, 157);
}